@model LabHelloMVC.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab 1</h1>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
</div>
